<!DOCTYPE html>
<html lang="en">

<head>
    <title>Tin nhắn</title>
    <vu th:replace="fragments/head-admin"></vu>
</head>
<body class="sidebar-icon-only">
<div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <nav th:replace="fragments/header-admin :: header"></nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_settings-panel.html -->
        <div th:replace="fragments/setting-panel-admin :: setting">

        </div>
        <div th:replace="fragments/right-admin :: right"></div>
        <!-- partial -->
        <!-- partial:partials/_sidebar.html -->
        <nav th:replace="fragments/sidebar-admin :: sidebar"></nav>
        <!-- partial -->
        <div class="main-panel">
            <div class="messaging">
                <div class="inbox_msg">
                    <div class="inbox_people">
                        <div class="headind_srch">
                            <div class="recent_heading">
                                <h4>Tin nhắn</h4>
                            </div>
                            <div class="srch_bar">
                                <div class="stylish-input-group">
                                    <input type="text" class="search-bar" placeholder="Search">
                                    <span class="input-group-addon">
                    <button type="button"> <i class="fa fa-search" aria-hidden="true"></i> </button>
                    </span> </div>
                            </div>
                        </div>
                        <div class="inbox_chat">
<!--   list chat -->


                        </div>
                    </div>
                    <div class="mesgs">
                        <div class="msg_history">

                        </div>
                        <div class="type_msg">
                            <div class="input_msg_write">
                                <input type="text" class="write_msg" placeholder="Type a message">
                                <button class="msg_send_btn" type="button" id="send_msg-vu"><i class="mdi mdi-send"></i></button>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <!-- content-wrapper ends -->
            <!-- partial:partials/_footer.html -->
            <footer th:replace="fragments/footer-admin :: footer">

            </footer>
            <!-- partial -->
        </div>
        <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->
<div th:replace="fragments/script-admin">

</div>
<script>
    function getListChat() {
        let requestOptions = {
            method: 'GET',
        };
        fetch("/api/v1/admin/chats", requestOptions)
            .then(response => response.json())
            .then(result => {
                console.log(result)
            })
            .catch(error => console.log('error', error));
    }

    window.onload = () => {
        getListChat()
    }
</script>
<script>
    document.querySelector("body > div > nav > div.text-center.navbar-brand-wrapper.d-flex.align-items-center.justify-content-start > div.me-3 > button > span").click();
</script>
<!-- End custom js for this page-->
</body>

</html>

